<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;/*@thymesVar id="res" type="win.ccav.model.NewSearchForm"*/&ndash;&gt;-->
<!--<p th:text="${res}"></p>-->
<!--<p th:text="${res1}"></p>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/Index.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="indexNav">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <!--<a th:text="'欢迎：'+${session.user.username}+''" ></a>-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/" th:text="'首页：'+${session.user.username}+''">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search" action="/find" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入学校名字" name="name"/>
                        </div>
                        <button type="submit" class="btn btn-default">查找</button>
                    </form>
                    <form class="navbar-form navbar-left" role="search" action="/zhuanyefind" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入专业名称" name="name"/>
                        </div>
                        <button type="submit" class="btn btn-default">查找</button>
                    </form>
                    <ul id="Time" class="nav navbar-nav">
                        <li>
                            <iframe class="ifTime" src="/getTime"></iframe>
                        </li>
                    </ul>
                    <ul id="rNav" class="nav navbar-nav navbar-right">
                        <!--<input type="text" placeholder="请输入学生名字名字" name="name"/>-->
                        <!--/*@thymesVar id="stu" type="win.ccav.model.save.StudentEntity"*/-->
                        <!--<button type="submit" class="btn btn-default stubtn" th:if="${session.stu==null}" >确定</button>-->
                        <!--<button type="submit" class="btn btn-default stubtn" th:if="${session.stu!=null}">更改学生姓名</button>-->
                        <!--<spant  th:if="${session.stu==null}" id="stuname">tetet</spant>-->
                        <!--<spant th:if="${session.stu!=null}" th:text="'学生姓名'+${session.stu.sname}" id="stuname"></spant>-->
                        <li><a href="/ads">高级查找</a></li>
                        <li><a href="/tongji">查看统计</a></li>
                        <li><a href="/record">填报情况</a></li>
                        <li>
                            <div class="btn-group" style="float: right">
                                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">已选<span id="msg"
                                                                                                                  th:text="${session.length}"> </span>个学校，点击查看
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu" id="items">

                                    <li><a href="/favorite/compare" class="active">对比</a></li>
                                    <div th:each="item : ${session.allFavorite}">
                                        <li role="presentation" class="divider"></li>
                                        <li th:id="${item.id}"><a href="#" th:href="@{/details/{id}(id=${item.id})}" th:text="${item.xuexiaomingcheng}"
                                                                  th:data="${item.id}"></a>
                                            <button th:id="${item.id}" class="shanchu">删除</button>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table  class="table table-striped table-bordered table-hover ">
                <thead>
                <tr>
                    <th>招生代码</th>
                    <th>学校名称</th>
                    <th>专业名称</th>
                    <th>地区</th>
                    <th>城市</th>
                    <th>办学性质</th>
                    <th>级别</th>
                    <th>类型</th>
                    <th>文理</th>
                    <th>批次</th>
                    <th>招生人数2017</th>
                    <th>招生人数2016</th>
                    <th>招生人数2015</th>
                    <th>招生人数2014</th>
                    <th>招生人数2013</th>
                    <th>预测位次2017</th>
                    <th>位次2016</th>
                    <th>位次2015</th>
                    <th>位次2014</th>
                    <th>位次2013</th>

                    <th>2016分数</th>
                    <th>2015分数</th>
                    <th>2014分数</th>
                    <th>2013分数</th>
                    <th>招生规则</th>
                    <th>加入备选</th>
                    <th style="color: red;">预测分数2017</th>
                </tr>
                </thead>
                </thead>
                <tbody>
                <tr th:each="xuexiao : ${res}">
                 
                    <!--/*@thymesVar id="xuexiao" type="win.ccav.model.NewSearchResult"*/-->
                    <td th:text="${xuexiao.zhaoshengdaima}">01111</td>
                    <td><a href="" th:href="@{/details/{id}(id=${xuexiao.id})}" th:text="${xuexiao.xuexiaomingcheng}"></a></td>
                    <td th:text="${xuexiao.zhuanyemingcheng}">北京</td>
                    <td th:text="${xuexiao.diqu}">北京</td>
                    <td th:text="${xuexiao.chengshi}">北京</td>
                    <td th:text="${xuexiao.banxuexingzhi}">公办</td>
                    <td th:text="${xuexiao.jibie}">公办</td>
                    <td th:text="${xuexiao.leixing}">公办</td>
                    <td th:text="${xuexiao.wenli}">公办</td>
                    <td th:text="${xuexiao.pici}">公办</td>
                    <td th:text="${xuexiao.zhaoshengrenshu2017}">公办</td>
                    <td th:text="${xuexiao.zhaoshenrenshu2016}">公办</td>
                    <td th:text="${xuexiao.zhaoshenrenshu2015}">公办</td>
                    <td th:text="${xuexiao.zhaoshenrenshu2014}">公办</td>
                    <td th:text="${xuexiao.zhaoshenrenshu2013}">公办</td>
                    <td th:text="${xuexiao.yuceweici2017}">公办</td>
                    <td th:text="${xuexiao.weici2016}">公办</td>
                    <td th:text="${xuexiao.weici2015}">公办</td>
                    <td th:text="${xuexiao.weici2014}">公办</td>
                    <td th:text="${xuexiao.weici2013}">公办</td>
                    <td th:text="${xuexiao.fenshu2016}">公办</td>
                    <td th:text="${xuexiao.fenshu2015}">公办</td>
                    <td th:text="${xuexiao.fenshu2014}">公办</td>
                    <td th:text="${xuexiao.fenshu2013}">公办</td>
                    <td><a th:href="'http://'+${xuexiao.zhaoshenguize}" th:text="招生规则"></a></td>
                    <td><a th:value="${xuexiao.id}" th:text="备选" href="#" class="duibi" th:data="${xuexiao.xuexiaomingcheng}"></a>
                    <td th:text="${xuexiao.yucefenshu2017}" style="color: red;font-weight:bold;">公办</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
        //异步加载某个省份对应的城市列表
        $("#shen").change(function () {
            var selectedProvence = $("#shen").val();
            var sel = $("#chengshi")
            sel.empty();
            $.ajax({
                type: 'POST',
                url: "/getchen",
                data: "shengfen=" + selectedProvence,
                success: function (data) {
                    var sel = $("#chengshi")
                    sel.append('<option value="不限">不限</option>');
                    for (i = 0; i < data.length; i++) {
                        sel.append('<option value="' + data[i] + '">' + data[i] + '</option>');
                    }
                },
                error: function () {
                    return -1;
                },
                dataType: "json"
            });
        });
        $("#shen2").change(function () {
            var selectedProvence = $("#shen2").val();
            var sel = $("#chengshi2")
            sel.empty();
            $.ajax({
                type: 'POST',
                url: "/getchen",
                data: "shengfen=" + selectedProvence,
                success: function (data) {
                    var sel = $("#chengshi2")
                    sel.append('<option value="不限">不限</option>');
                    for (i = 0; i < data.length; i++) {
                        sel.append('<option value="' + data[i] + '">' + data[i] + '</option>');
                    }
                },
                error: function () {
                    return -1;
                },
                dataType: "json"
            });
        });
        //加入候选列表
        $(".duibi").click(function () {
            var xuexiaomingcheng = $(this).attr("data");
            var id = $(this).attr("value");
            var out = $("#msg");

            $.ajax({
                type: "post",
                url: "/favorite/add",
                data: {
                    id: id,
                    xuexiaomingcheng: xuexiaomingcheng
                },
                success: function (data) {
                    if (data.added == false) {
                        //有重复的的数据。添加失败
                        alert(data.msg);
                    }
                    else {
                        out.text(data.len);
                        //$("#items").append('');
                        $("#items").append('<div><li role="presentation" class="divider"></li><li><a href="#">' + xuexiaomingcheng + '</a><button id=' + id + ' class="shanchu">删除</button></li></div>')
                    }

                },
                error: function () {
                    alert("添加异常，请重新再试~")
                }
            })
            return false;
        });

        $(".shanchu").click(function () {
            var sele = $(this).parent().parent();
            var out = $("#msg");
            var key = $(this).attr("id");
            $.ajax({
                type: "post",
                url: "/favorite/remove",
                data: {
                    id: key
                },
                success: function (data) {
                    if (data.added == true) {
                        sele.remove();
                        out.text(data.len);
                        alert(data.msg);
                    }
                },
                error: function () {
                    alert("删除异常，请重新再试~")
                }
            })
        })
        $(".stubtn").click(function () {
            var input=$(this).prev().val();
            var stuname=$("#stuname");
            $.ajax({
                type: "post",
                url: "/stu/add",
                data: {
                    sname: input
                },
                success: function (data) {
                    if (data== false) {
                        alert("请输入学生名字");
                    }
                    else {
                        stuname.text('学生名字'+input);
                        //$("#items").append('');
                        //$("#items").append('<div><li role="presentation" class="divider"></li><li><a href="#">' + xuexiaomingcheng + '</a><button id=' + id + ' class="shanchu">删除</button></li></div>')
                    }

                },
                error: function () {
                    alert("添加异常，请重新再试~")
                }
            })
        })
    });
</script>
</html>